      .background-color {
        background: gray; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(bottom,rgba(11,13,15,0.1),rgba(11,13,15,1)); /*Safari 5.1-6*/
        background: -o-linear-gradient(bottom,rgba(11,13,15,0.1),rgba(11,13,15,1)); /*Opera 11.1-12*/
        background: -moz-linear-gradient(bottom,rgba(11,13,15,0.1),rgba(11,13,15,1)); /*Fx 3.6-15*/
        background: linear-gradient(to bottom, rgba(11,13,15,0.1), rgba(11,13,15,1)); /*Standard*/
        height: 100vh;
      }
      .top-bar{
        font-size: 10vh;
        margin: -1vh 3vw  -4vh 1vw ;
        z-index: 2;
      }
      a{
        text-decoration: none;
        color: black;
      }
      a:hover{
        font-weight: bolder;
      }
      body{
        margin:0;
      }
      ul{ list-style-type: none; }